[submodule "pico-sdk"]
	path = lib/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
    shallow = true
    branch = 2.0.0
    ignore = dirty
[submodule "freertos"]
	path = lib/freertos
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
    shallow = true
    branch = V11.1.0
    ignore = dirty
[submodule "unity"]
	path = lib/unity
	url = git@github.com:ThrowTheSwitch/Unity.git
    ignore = dirty
[submodule "lib/unity"]
	path = lib/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "libs/Adafruit_GFX_Library"]
	path = libs/Adafruit_GFX_Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "libs/Adafruit_SSD1306"]
	path = libs/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306.git
